*, *:before, *:after {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
body {
}

main {
	
}

.header-title h1 {
	font-size: 2.5em;
	letter-spacing: .5px;
  padding-right: 4px;
}

input, textarea, .idea-card {
  border: 2px solid #D2CCCD;
  border-radius: 5px;
  resize: none;
}

/* === header content ===*/
.header-content {
	background-color: #322A30;
}

.top-nav {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 70%;
}

.header-title {
	display: flex;
}

.header-1 {
	color: #AFA5CD;
}

.header-2 {
	color: #fff;
}

.search-bar {
	color: #D2CCCD;
	font-size: 1.3em;
  padding: 5px 5px 5px 10px;

}

.top-nav-form {
	align-items: center;
	background: #D2CCCD;
	border-radius: 5px;
	display: flex;
}

.top-nav-form input {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.fa-search {
	color: white;
  margin: 5px 7.5px 5px 5px;
}

/* === body content ===*/
.input-content {
	align-items: center;
	background-color: #EDF2F2;
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.input-form {
	display: flex;
	flex-direction: column;
	min-width: 550px;
	width: 30%;
}

.input-form  > label {
	margin-top: 1rem;
}

.input-header {
	color: #6E646B;
	font-size: 1.35em;
	margin-bottom: .5rem;
}

.form-title-input {
	min-height: 45px;
}

.btn-save-idea {
	background-color: #6E646B;
	border: 0;
  color: white;
  cursor: pointer;
	font-size: 1.35em;
	font-weight: 800;
	margin: 1rem 0;
	padding: .5rem 0;
}


/* === footer content ===*/
.output-content {
	margin: 1rem 0;
}

.idea-card {
	margin: 0 auto;
	min-width: 550px;
	width: 30%;
}

.idea-card-footer {
	align-items: center;
	border-top: 2px solid #D2CCCD;
	display: flex;
	justify-content: space-between;
}

.card-footer-status {
	align-items: center;
	color: #7C7879;
	display: flex;
	font-weight: 800;
}

.card-footer-status button {
	margin: 0 .7rem;
}

.idea-card-title, .idea-card-paragraph {
	padding: 0 1rem;
}

.idea-card-title {
	color: #6E646B;
}

.idea-card-paragraph {
	color: #7C7879;
}

.btn-2 {
	background-color: #D5D2D8;
	border-radius: 50%;
	height: 25px;
	width: 25px;
}

.close-idea-card {
	margin-right: .7rem;
}









